.container-sm{
    margin-top: 50px;
}

.carousel-item{
    
    min-height: 40vw;
    max-height: 40vw;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


